In [6]:
#INTEGRANTES: LUISA MARÍA HERNÁNDEZ QUINTERO, CAROLINA TABORDA VARGAS
import pandas as pd
import numpy as np

# Leer archivo Excel y usar la segunda fila como encabezado
df = pd.read_excel("FLIR_groups1and2.xlsx")

# Verificar que es un DataFrame
print(type(df))         

print(df.head())

<class 'pandas.core.frame.DataFrame'>
  Unnamed: 0  Unnamed: 1   Round 1: Unnamed: 3 Unnamed: 4   Unnamed: 5  \
0        NaN         NaN        NaN    T_CRmax    T_CLmax        T̅_CR
1  SubjectID         NaN  T_offset1  Max1R13_1  Max1L13_1  aveAllR13_1
2   161117-1         NaN       0.58      34.98      35.36        34.44
3   161117-2         NaN       0.83      34.71      34.51        34.46
4   161117-3         NaN       0.85      35.70      35.44        35.00

    Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 115  \
0        T̅_CL        NaN        NaN        NaN  ...          NaN
1  aveAllL13_1      T_RC1  T_RC_Dry1  T_RC_Wet1  ...     aveOralM
2        34.85      34.91      34.91      34.60  ...        36.59
3        34.24      34.68      34.68      34.44  ...        37.19
4        34.78      35.67      35.67      35.46  ...        37.34

  Unnamed: 116 Unnamed: 117               Unnamed: 118 Unnamed: 119  \
0          NaN          NaN                        NaN          NaN
1       Gender          Age                  Ethnicity        T_atm
2         Male        41-50                      White           24
3       Female        31-40  Black or African-American           24
4       Female        21-30                      White           24

  Unnamed: 120 Unnamed: 121 Unnamed: 122 Unnamed: 123         Unnamed: 124
0          NaN          NaN          NaN          NaN                  NaN
1     Humidity     Distance    Cosmetics         Time                 Date
2           28          0.8          NaN     12:43:46  2017-11-16 00:00:00
3           26          0.8          NaN     15:22:48  2017-11-16 00:00:00
4           26          0.8          NaN     15:52:56  2017-11-16 00:00:00

[5 rows x 125 columns]

In [ ]:
#Análisis exploratorio de datos

#Promedio de la variable Max1R13_
df = pd.read_excel("FLIR_groups1and2.xlsx", header=[0, 1])
r= df[('T_CRmax', 'Max1R13_1')]
print(r)


#Tipos de datos: Variables numéricas y Variables categóricas
variables_numericas = ['aveOralM', 'Age', 'T_atm', 'Humidity', 'Max1R13_']
variables_categoricas = ['Gender', 'Ethnicity', 'Cosmetics']